.hero-header-container {
  text-align: center;
  padding: 2.75em 0 2.75em 0;

  .hero-header {
    padding-bottom: 0.75em;
    font-size: 4em;
    letter-spacing: 0.2em;
  }

  .header-tag {
    font-size: 1.5em;
  }
}
