.featured-blog-post-card-container {
  display: flex;
  margin: 0.75em 0;
  transition: transform 0.2s;

  .ui.image {
    width: 45vw;
    border-radius: 0.25em;
    cursor: pointer;
  }
  .ui.card {
    box-shadow: none;
    width: auto;
    padding: 1.75em 0 1.75em 1.75em;
    margin: 0;

    .content {
      padding: 0;

      .header.featured-title {
        font-size: 2.5em;
        cursor: pointer;
      }

      .meta {
        margin-top: 0.5em;
        font-size: 1.5em;
      }

      .description {
        font-size: 1.25em;
      }
      .read-more {
        cursor: pointer;
        margin-top: 0.5em;

        &:hover {
          color: #4183c4;
        }
      }
    }

    .extra {
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      padding: 0.25em 0.25em;

      .tag-link {
        padding: 0.25em;
      }
    }
  }
}

.featured-blog-post-card-container:hover .ui.image {
  transform: scale(1.02);
  z-index: 1;
}
