.navbar-container {
  display: grid;
  width: 100vw;
  height: 100px;
  grid-template-columns: 25vw 50vw 25vw;
  background-color: #ffffff;

  .ui.button.home-button {
    background-color: transparent;
    color: #0b090a;
    font-size: 2.75em;
    justify-self: start;
    padding-left: 1.5rem;
    align-items: center;
  }

  .ui.buttons.nav-group-buttons {
    justify-content: center;
    align-self: center;

    .ui.button.nav-button {
      background-color: transparent;
      color: #0b090a;
      height: 3rem;
      font-size: 1.45rem;
    }
  }

  .ui.input {
    font-size: 1.25em;
    color: #0b090a;
    justify-self: end;
    align-self: center;
    height: fit-content;
    margin-right: 1em;
  }
}
