.footer-container {
  display: flex;
  flex-shrink: 0;
  width: 100vw;
  height: auto;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b090a;
  color: #ffffff;
  font-size: 1.3rem;

  .ui.form.subscribe-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70px;

    .field {
      margin: 0 5.5px 0 0;
    }

    .ui.button {
      align-self: center;
      background-color: transparent;
      border: 2px solid #ffffff;
      color: #ffffff;
    }
  }

  .footer-icons {
    font-size: 1.75rem;
    .ui.button {
      align-self: center;
      background-color: transparent;
      color: #ffffff;
      font-size: 1.75rem;
      padding: 0;
      margin-left: 5.5px;
    }
  }
}
