.dashboard-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .dashboard-header {
    font-size: 4em;
    margin: 1em 0.5em;
  }

  .ui.statistics {
    margin-top: 5em;
  }
}
